<div class="row">
  <%= image_tag "gathers.jpg", class:'top_image' %>
</div>

<div class="row">
  <div class="col-md-12 mt-5 text-center">
     <div class="about">
      <h2>ABOUT</h2>
      <p>スポーツを通して人との繋がりを作りたい。</p>
      <p>なにかスポーツをしてみたいが、どこでなにをすれば良いのかわからない。</p>
      <p>そんな人達の悩みを気軽に、簡単に解決するSNSです。</p>
     </div>
  </div>
</div>

<%= render 'genre', genres: @genres %>

