<%= form_with  url: search_search_pref_path, method: :get, local:true do |f| %>
  <h4>活動場所選択</h4>
  <%= f.collection_select :pref, JpPrefecture::Prefecture.all, :code, :name, { prompt: '都道府県選択' }, class: 'form-control' %>
  <%= f.submit '投稿' %>
<% end %>